/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.projects-index-container {
  height: 100%;
  width: 90%;
}

ul {
  list-style: none;
}

.landing-image{
  background-image: asset-url('woodworking_landing.jpg');
  background-size: cover;
  height: 700px;
  width: 100%;

}

.landing-text {
  text-align: center;
  color: white;
  // display: inline-block;
  margin: 0 auto;
}

.landing-image h1 {
}

.projects-index-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
  flex-wrap: wrap;
}

.project-index-item {
  width: 324px;
  height: 324px;
  border: 1px solid #eee;
  position: relative;
}
.project-index-item a {
  width: 18%;
  height: 18%;
  color: black;
}

.index-item-footer{
  display: flex;
  flex-direction: column;
}

.test-photo {
  background-image: asset-url('blacksmithing.jpg');
  height: 270px;
  width: 100%;
  background-size: contain;
}

 .app-container {
   font-family: sans-serif;
   margin: 0;
 }


 body{
   margin: 0;
 }

 .no-show {
   display: none;
 }

.main-header {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  position: relative;
  font-family: sans-serif;
  height:80px;
  width: 100%;
  border-bottom: 0.5px solid #dbdbdb;
}
.main-header .icon-button {
  height: 100%;
  width: 220px;
  background-image: asset-url('instructables-logo.png');
  background-size:contain;
  background-repeat: no-repeat;
  margin-left: 85px;
  margin-top: 5px;
}

.main-header h3 {
  padding-left: 10px
}

.nav-bar {
  height: 27px;
  width: 100%;
  background-color: white;
}

.nav-left {
  width: 25%;
  height: inherit;
}

.nav-left ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  color: #939393;
}

.nav-left li {
  color: #939393;
}

.greeting-container {
  padding: 30px;
  font-size: 13px;
  margin-right: 15px;
}

.session-form-page {
  background-image: asset-url('blacksmithing.jpg');
  background-position: 50px;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 940px;
  width: 100%;
}
.session-form-wrapper {
  background: inherit;
  position: absolute;
  display: flex;
  // padding-top: 200px;
  align-content: center;
  flex-direction: column;
  width: 450px;
  height: 100%;
  margin-left: 50px;
  background: transparent;
  // box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
  // filter: blur(10px);
  overflow: hidden;
}

.session-form {
  position: absolute;
  height: 25%;
  width: 400px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin: 15px;
  padding-top: 200px;
  background: transparent;
  z-index: 35;
}

.session-email {
  height: 28px;
  width: 93.5%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 5px;
  z-index: 35;
  font-size: 16px;
}
.session-input input {
  height: 28px;
  width: 45%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 5px;
  z-index: 35;
  font-size: 16px;
}


.session-submit {
  height: 50px;
  border-radius: 10px;
  background-color: #DD6607;
  color: white;
  font-size: 25px;
}

.session-errors {
  background-color: #B74548;
  border-radius: 10px;
  border: 1px solid white;
  color: white
}


.session-form-blur {
  position: absolute;
  background: transparent;
  box-shadow: inset 0 0 0 4000px rgba(255,255,255,0.3);
  filter: blur(2px);
  overflow: hidden;
  height: 100%;
  width: 100%;

}
.session-form-headings:hover {
  color: white;
}
.session-form a {
  color: white;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.project-show {
  color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.project-show .title{
  font-size: 14px;
}

.projects-form {
  background-color: #D2E1E8;
  background-size: cover;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 3px 7px #ccc;
  padding-top: 50px;
}

.form-box {
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.inner-form-box {
  height: 450px;
  width: 825px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.inner-form-box p {
  text-align: center;
  font-size: 19px;
}

.inner-form-box form {
text-align: center;
}

.inner-form-box .project-title {
height: 30px;
border-radius: 7px;
width: 300px;
font-size: 18px;
}

.inner-form-box textarea {
font-size: 18px;
border-radius: 7px;
}

.button-container {
  margin-top: 30px;
  height: 45px;
  display: flex;
  justify-content: space-around;
}

.button-container * {
  height: 90%;
  border-radius: 10px;
  background-color: #DD6607;
  color: white;
  font-size: 18px;
}

.show-header {
  width: inherit;
  text-align: center;
}

.show-header .title {
  font-size: 30px;
}

.show-header .description{
  font-size: 18px;
}

.project-show-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  margin: auto;
}

.project-show-links a {
  background-color: #ccc;
  border-radius: 5px;
  border: 1px solid #eee;
  color: black;
  width: 50px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}
