.user-photo {
  background-image: asset-url('user2.png');
  background-size:  cover;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 100px;
  margin-top: 15px;
  outline: none;
}

.user-photo:hover{
  cursor: pointer;
}


#drop-down:hover{
  display: block;
}

.greeting-container {
  padding: 30px;
  font-size: 13px;
  margin-right: 15px;
}

// .greeting-container a{
//   text-decoration: none;
//   color: #777;
// }
.greeting-container a:hover{
  color: black;
}

.GreetingContainer {
  display: flex;
  flex-direction: column;
}

#greeting-box {
  position :relative;
  font-family: 'Montserrat', sans-serif;
}

#drop-down-whole {
  background-color: white;
  height: 180px;
  width: 240px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align:right;
  position: absolute;
  left: -130px;
  top: 10px;
  font-family: 'Montserrat', sans-serif;
  // display: none;
}

#drop-down {
  background-color: #eee;
  height: 180px;
  width: 160px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align:right;
  position: absolute;
  left: -117px;
  top: 10px;
  font-family: 'Montserrat', sans-serif;
  // display: none;
}
.user-photo:focus + .drop-down {

}

#dropdown-build-link {
  height: 30px;
  width: 80%;
  background-color: #DD6607;
  color: white;
  border-radius: 5px;
  border: .5px solid grey;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding-top: 8px;
  font-size: 18px;
}

#drop-down a:hover {
  text-decoration: underline;
}


#drop-down-top {
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: 2px solid #ddd;
  margin-top: 15px;
}

#drop-down-top * {
  height: 25px;
  margin: 0px;
  // border-radius: 5px;
  // background-color: #eee;
  text-align: left;
  display: block;
  // flex-direction: column;
}

#drop-down-top-left {
  height: 100%;
  display: block;
}

#drop-down-top-left *{
  color: #777;
  font-size: 14px;
  padding-top: 4px;
}

#logout-button{
  background-color: #f6f6f6;
  border-radius: 3px;
  border: .5px solid #dedede;
  font-size: 14px;
}
#logout-button:hover{
  cursor: pointer;
  background-color: #c8c8c8;
}

#drop-down-bottom {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
