.show-header img{
  height: 400px;
  width: auto;
}

.main-image-container {
  max-height: 400px;
}


.step-no-show{
  display: none;
}

.edit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 400px;
  padding: 10px;
  // background-color: #eee;
  // border-radius: 4px;
  // border: 1px solid black;
}

.edit-container * {
  color: black;
  width: 50px;
  height: 100%;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  border: none;
  background-color: #eee;
  transition: background-color .5s;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: 1px solid black;
}

[id^="step-edit-container"]{
  margin: auto;
  top: -10px;
  left: 80px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 35%;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid black;
  // padding: 10px;
  // display: flex;
  // background-color: #eee;
}

[id^="step-edit-container"] * {
  margin: 0px 2px 0px 2px;
  color: black;
  width: 50px;
  height: 100%;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  border: none;
  transition: background-color .5s;
  font-family: 'Montserrat', sans-serif;
  // background-color: #eee;
  // border-radius: 4px;
  // border: 1px solid black;
}

[id^="step-edit-container"] :hover {
  cursor: pointer;
  text-decoration: underline;
  border-radius: 4px;
  // border: 1px solid #DD6607;
  // background-color: #ccc;
}


#all-projects{
  margin: auto;
  margin-top: 20px;
  background-color: #ccc;
  border-radius: 5px;
  color: black;
  width: 50px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #DD6607;
  transition: box-shadow .5s;
  margin-bottom: 25px;
}

#all-projects:hover {
  box-shadow: 2px 3px #888888;
}

.steps-container li {
  width: 50%;
  margin-left:25%;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
.steps-container p {
  color: #555;
  font-size: 18px;
}

#step-edit{
  padding: 7px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  // background-color: #dadada;
  // border: 1px solid black;
  // border-radius: 4px;
  // box-shadow: 1px 1px #888888;
  // transition: box-shadow .3s;
}
#step-edit:hover{
  text-decoration: underline;;
}

.step-index-buttons{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}


.delete-button {
  padding: 7px;
  border: none;
  border-radius: 4px;
  transition: box-shadow .3s;
  // border: 1px solid black;
  // box-shadow: 1px 1px #888888;
  // background-color: #dadada;
}
.delete-button:hover {
  padding: 7px;
  cursor: pointer;
  // box-shadow: 3px 3px #888888;
  // background-color: #dadada;
}

#drop-down {
  background-color: white;
  height: 180px;
  width: 160px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
  // position: absolute;
  // left: -117px;
  // top: 10px;
  // display: none;
}
