.show-header img{
  height: 400px;
  width: auto;
}

.main-image-container {
  max-height: 400px;
}

.edit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 400px;
  // background-color: #eee;
  padding: 10px;
  // border-radius: 4px;
  // border: 1px solid black;
}

.edit-container * {
  color: black;
  width: 50px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  border: none;
  background-color: #eee;
  transition: background-color .5s;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: 1px solid black;
}

.edit-container :hover {
  cursor: pointer;
  text-decoration: underline;
  // border: 1px solid #DD6607;
  background-color: #ccc;
  border-radius: 4px;
}

#all-projects{
  margin: auto;
  margin-top: 20px;
  background-color: #ccc;
  border-radius: 5px;
  color: black;
  width: 50px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #DD6607;
  transition: box-shadow .5s;
  margin-bottom: 25px;
}

#all-projects:hover {
  box-shadow: 2px 3px #888888;
}

.steps-container li {
  width: 50%;
  margin-left:25%;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
.steps-container p {
  color: #555;
  font-size: 18px;
}

#step-edit{
  background-color: #dadada;
  padding: 7px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px #888888;
  transition: box-shadow .3s;
  text-decoration: none;
  font-size: 12px;
}

.step-index-buttons{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}


.delete-button {
  background-color: #dadada;
  padding: 7px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px #888888;
  transition: box-shadow .3s;
}
.delete-button:hover {
  background-color: #dadada;
  padding: 7px;
  box-shadow: 3px 3px #888888;
  cursor: pointer;
}
