.show-header img{
  height: 400px;
  width: auto;
}

.main-image-container {
  max-height: 400px;
}

.edit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 400px;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.edit-container * {
  color: black;
  width: 50px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  border: none;
  background-color: #eee;
  transition: background-color .5s;
}

.edit-container :hover {
  cursor: pointer;
  text-decoration: underline;
  // border: 1px solid #DD6607;
  background-color: #ccc;
  border-radius: 2px;
}

#all-projects{
  margin: auto;
  margin-top: 20px;
  background-color: #ccc;
  border-radius: 5px;
  color: black;
  width: 50px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #DD6607;
  transition: box-shadow .5s;
}

#all-projects:hover {
  box-shadow: 2px 3px #888888;

}
