#search-form {
  margin: 22px;
}

#search-bar {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: .5px solid #ddd;
  font-size: 13px;
  position: relative;
}

#search-submit {
  height: 28px;
  background-color: #c8c8c8;
  border-radius: 0 5px 5px 0;
  // position: absolute;
  // left: 950px;
}


#search-submit:hover {
  cursor: pointer;
}
