#search-form {
  margin: 22px;
  outline: none
}

#search-bar {
  width: 187px;
  height: 35px;
  margin-left: 20px;
  padding-left: 7px;
  border-radius: 5px;
  border: .5px solid #ddd;
  font-size: 13px;
  outline: none;
  box-shadow: inset 0px 1px 9px .5px #ddd;
}

#search-bar input{
  padding-left: 2px;
}

#search-form {
  position: relative;
}

#search-form:focus {
  outline: none
}

#search-submit {
  height: 38px;
  background-color: #c8c8c8;
  border-radius: 0 5px 5px 0;
  position: absolute;
  left: 192px;
  transition: background-color .5s;
}


#search-submit:hover {
  cursor: pointer;
  background-color: #adadad;
}
