#step-form-modal{
  background-color: white;
  height: 800px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-step-button{
  border: none;
  width:100%;
  outline: none;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
  background-color: #eee;
}

.edit-step-button:hover{
  cursor:pointer;
}


#step-modal-button{
  width: 10%;
  margin-left: 45%;
  margin-top: 15px;
  background-color: #DD6607;
  height: 40px;
  // width: 80px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  transition: box-shadow .5s;
}
