.step-image-upload-contianer{
  width: 25%;
  height: 20%;
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #595757;
  box-shadow: inset 0px 0px 3px .3px #595757;
  align-content: center;
}

.step-image-upload-contianer label{
  width: 95%;
  height: 95px;
  background-color: white;
  border-radius: 10px;
  color:#aaa;
  // color:#c8c8c8;
  text-align: center;
  font-size: 24px;
  padding: .5rem 1rem;
}

.steps-editor-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eee;
  border-radius: 10px;
  border: .5px solid #aaa;
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  // margin-top: 6px;
  .quill{
    margin-left: 10px;
    margin-top: 10px;
  }
}

.steps-editor-form-text textarea {
  font-size: 15px;
  border-radius: 7px;
  background-color: #dfdfdf;
  color: #595757;
  resize: none;
  outline: none;
}
.steps-editor-form-text{
  display: flex;
  flex-direction: column;
}

.step-form-index{
  display: flex;
  flex-direction: row;
}
.step-form-index img{
  height: 100px;
  width: inherit;
}
.step-form-index-text{
  display: flex;
  flex-direction: column;
}

#step-heading-field{
  height: 30px;
  border-radius: 7px;
  width: 500px;
  font-size: 18px;
  background-color: #dfdfdf;
  overflow-wrap: break-word;
  margin-left: 10px;
}
//
#step-body-field{
  height: 50px;
  border-radius: 7px;
  width: 500px;
  font-size: 15px;
  background-color: #dfdfdf;
  overflow-wrap: break-word;
}

.step-submit{
  height: 35%;
  width: 18%;
  background-color: #eee;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: .5rem .75rem;
  font-size: 15px;
  color: black;
  margin-top: 10px;
  margin-left: 41%;
  margin-bottom: 10px;
  outline: none;
}

.step-submit:hover{
  cursor: pointer;
}
